/** Go To Top
----------------------------------------------------------------------------- */
.gototop, .gotobottom {
	// @include border-top-radius(5px);
	// background-color: $body_color;
	background-color: rgba($heading_color, 0.75);
	color: $light_color;
	cursor: pointer;
	display: none;
	// display: block;
	// line-height: 48px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: inherit;
	position: fixed;
	text-align: center;
	vertical-align: middle;
	// bottom: 63px;
	bottom: $col_margin/2;
	right: $col_margin/2;
	&.top {
		display: block;
	}
	&:hover {
		background-color: $link;
	}
}

.gotobottom {
	bottom: $col_margin/2;
}
