/** Site Specific Styles
----------------------------------------------------------------------------- */
/** Site Container **/
.site-container {
    margin: 0 auto;    
}

/** Site Header **/
.site-header {
    padding: $col_margin 0;
    @include mobile {
        // display: none;
    }
    .title-area {
        @include mobile {
            margin-bottom: $col_margin;
        }
        &.full-width-title {
            @include mobile {
                margin-bottom: 0;
            }
        }
        .site-title {
            margin-bottom: 0;
            @include mobile {
                a {
                    display: block;
                }
                text-align: center;
            }
        }
        .site-description {
            @include rem(16px);
            color: $body_color;
            font-family: $body_family;
            font-weight: normal;
            line-height: 1.2;
            margin-bottom: 0;
            @include mobile {
                text-align: center;
            }
        }
    }
    .widget-area {
        .nav-header {
            position: relative;
            text-align: center;
        }
        .menu-toggle {
            @include btn('flat', $heading_color);
            display: none;
            @include mobile {
                display: block;
            }
        }
    }
}

/** Navigation **/
.nav-primary {
    background: $heading_color;
}

.nav-secondary {
    background: $body_color;
}

/** Site Inner **/
.site-inner {
    padding: ($col_margin*2) 0;
}

/** Content **/
.content {
    @include mobile {
        margin: {
            bottom: $col_margin;
        }
    }
}

/** Sidebar **/
.sidebar {
    .widget {
        margin-bottom: $col_margin;
        .widgettitle {
            margin-bottom: $col_margin;
        }
        ul, ol {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

/** Footer Widgets **/
.footer-widgets {
    background: $heading_color;
    // border-bottom: 1px solid $secondary_color;
    color: $light_color;
    padding: $col_margin*2 0;
    a {
        &:hover {
            color: $light_color;
        }
    }
    .widget-area {
        @include mobile {
            margin: {
                bottom: $col_margin;
            }
        }
    }
    .widget {
        margin-bottom: $col_margin;
        &:last-child {
            margin-bottom: 0;
        }
        .widgettitle {
            color: $light_color;
            margin-bottom: $col_margin;
        }
        &:last-child {
            margin-bottom: 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 5px 0;
                a {
                    color: inherit;
                    &:hover {
                        color: $link;
                    }
                }
            }
        }
    }
}

/** Site Footer **/
.site-footer {
    background: darken($heading_color, 10);
    color: $light_color;
    @include rem(14px);
    padding: $col_margin 0;
    &.full-width {
        text-align: center;
    }
    p {
        margin: {
            bottom: 0;
        }
    }
    a {
        color: $link;
        &:hover {
            color: $light_color;
        }
    }
    @include mobile {
        text-align: center;
    }
}
